Django
channels==1.1.8
asgi_redis
django-allauth
celery
django-celery-beat
django_redis
mysqlclient
#web服务器
uwsgi
dj-static
#WhiteNoise
#注意报错:mysql_config: command not found(解决方案:yum install python-devel mysql-devel)
#注意报错:raiser.c:4:20: fatal error: Python.h: No such file or directory(解决方案针对python3.4:yum install python34-devel)
